<!DOCTYPE html>
<html>
    <head>
        
    </head>

    <body>
    <header>
        
        <img scr="./img/duo.jpg" alt="Meadowlark Travel Logo">
    </header>
        {{{body}}}
    </body>
</html>